* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style: none;
}

body {
    background-image: url(https://img.freepik.com/premium-photo/plexus-technology-abstract-line-background_161488-39.jpg)  ;
    color: rgb(216, 232, 41);
    margin:  0;
    min-height: 200vh;
    text-align: center;
    overflow-x: hidden;
}

nav {
    background: rgb(67, 23, 108);
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    /* top: -50px; */
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
}

.box1 {
    border: 3px solid white;
    transition: 0.25s ease;
    background: black;
    padding: 10px;
    margin-top: 50px;
}

.box2 {
    border: 3px solid white;
    transition: 0.25s ease;
    background: black;
    padding: 10px;
}

p {
    opacity: 0;
    margin: 10px auto 0;
    transform: translate(-200px);
    transition: 0.6s;
    visibility: hidden;
    width: 240px;
}